<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say Something
</h4>
<div class="ui two column grid">
        <div class="twelve wide column">
            <div class="ui fluid raised card chatbox">
                <div class="content" id="messages">          
                    <div class="ui feed" id="messsage-container">
                        <%= render @messages %>
                    </div>
                </div>
                <div class="extra content">
                    <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path, remote: true) do |f| %>
                        <div class="field">
                            <div class="ui fluid icon input">
                                <%= f.text_field :body %>
                                <%= f.button '<i class="bordered inverted orange edit icon"></i>'.html_safe %>
                            </div>
                        </div>
                    <% end %>
                </div>
             </div>
        </div>

        <div class="four wide column">
            <div class="ui fluid raised card chatbox">
                <div class="content">      
                    <div class="ui secondary vertical menu" id="user-list">
                        <a class="active item">
                        Users <div class="ui label">1</div>
                        </a>
                       <% @users.each do |user| %>
                            <a class="item" >
                                <div id=<%= user.id %> class="ui small header <%= "green" if user.online %>">
                                    <%= user.username %>
                                </div>
                            </a>
                       <% end %>
                    </div>
                </div>
            </div>
        </div>
</div>